@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&family=Raleway:wght@300&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

body{
    font-family: 'Roboto', sans-serif;

}

.splide__pagination {
    background: rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(4.5px);
    height: 58px;
    flex-shrink: 0;
    
}
#splide01 .splide__pagination__page{
    background-color: white;
}

.splide__arrow{
    display: none;
}

#splide05 .splide__pagination{
    /* display: none; */
    position: static; 
   
}

#splide05 .splide__pagination__page{
    background: black;
    
}


